.Toolbar{
    height:60px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    box-sizing: border-box;
    left: 0;
    top:0;
    background-color: #703B09;
    position: fixed;
    padding: 0 20px;


}
.Toolbar Nav{
    height:100%;
    
}