.NavigationItems{
    height:100%;
    display:flex;
    align-items: center;
    list-style: none;
    /* padding:10px 5px; */
    color:white;
    flex-flow: column; 
    margin:0;

}
@media(min-width:500px){
  .NavigationItems{
    flex-flow: row; 
  }  

}